<html>
  <head>
    <title><%= survey_title %></title>
    <script src="file:///<%= asset_path('jquery.min.js') %>"></script>
    <script src="file:///<%= asset_path('evaluator.js') %>"></script>
  </head>
  <body>
      <script type="text/javascript">
      window.survey = {
        sliderValues: {}
      };
      <%= survey_js %>
    </script>
    <%= survey_html %>
  </body>
</html>

<!-- Generation time: <%= elapsed %> seconds -->
